= flashes

#form-outer.bg-softer.p1

  = form_with model: @reading, remote: false do |f|

    = f.hidden_field :browser_uuid, value: session[:browser_uuid]
    = f.hidden_field :household_person

    = recaptcha_v3(action: "homepage")


    .col-12
      .p2
        .clearfix

          .left
            .bold Household Members:
          - 0.upto(@household_count-1).each_with_index do |u, index|
            - if (index + 1) == @household_person
              .left.ml2.px1.bg-darken-3.white
                = index + 1
            - else
              .left.ml2
                = link_to (index+1), "/?p=#{index+1}"

          - if @household_count < 10
            .left.ml2
              = link_to "(Add +)", "/add-person"

    .clearfix.col-12
      .col-12

        .p3

          = form_group(class: 'big-group') do

            .col.col-6
              = f.label :temp_f do
                Temperature*
                %br
                %small.sm-show.muted
                  (degrees Fahrenheit)
                %small.sm-hide.muted
                  (deg. Fahrenheit)

            .col.col-6
              - placeholder = @prev&.temp_f || "98.6"
              = f.number_field :temp_f, min: 94.0, max: 110.0, step: 0.1, class: "col-8", placeholder: "#{placeholder}°F", style: 'width: 8em;', inputmode: 'numeric'
              = errors_for(f, :temp_f)


          = form_group(class: 'big-group') do

            .col.col-6
              = f.label :zipcode do
                Zip code*
                %br
                %small.muted (postal code)
            .col.col-6
              = f.text_field :zipcode, style: "width: 8em;", value: @prev&.zipcode, class: 'zip-lookup-field-zipcode', pattern: "[0-9]*", inputmode: 'numeric'
              = errors_for(f, :zipcode)


          = form_group do

            .col.col-4.mb1
              = f.label :age, class: 'mb1' do
                .xs-show Age <small class='muted'>(optional)</small>
                .xs-hide Age

              %br
              = f.number_field :age, min: 0, max: 110, style: "width: 80%", value: @prev&.age, placeholder: "yrs old"
              = errors_for(f, :age)

            .col.col-8
              = f.label :sex, class: 'mb1' do
                .xs-show Sex <small class='muted'>(optional)</small>
                .xs-hide Sex

              %br
              .btn-grp
                %span<>
                  = f.radio_button :sex, 'm', checked: @prev&.sex == 'm', id: :m_sex
                  = f.label :sex, "Male", value: 'm', for: :m_sex
                %span<>
                  = f.radio_button :sex, 'f', checked: @prev&.sex == 'f', id: :f_sex
                  = f.label :sex, "Female", value: 'f', for: :f_sex

                %span<>
                  = f.radio_button :sex, 'o', checked: @prev&.sex == 'o', id: :f_other
                  = f.label :sex, "Other", value: 'o', for: :f_other

          = form_group(class: 'no-border') do

            .bg-softer.rounded
              = f.label :symptoms do
                Are you experiencing any of the following symptoms?

              %br
              %small.muted (choose all that apply)
              .symptoms.mt2
                = f.check_box :sym_cough, checked: @prev&.sym_cough, id: :s1
                = f.label :sym_cough, "cough", class: 'mb1', for: :s1

                = f.check_box :sym_short_breath, checked: @prev&.sym_short_breath, id: :s2
                = f.label :sym_short_breath, "shortness of breath", class: 'mb1', for: :s2

                = f.check_box :sym_fatigue, checked: @prev&.sym_fatigue, id: :s3
                = f.label :sym_fatigue, "fatigue", class: 'mb1', for: :s3

                = f.check_box :sym_sore_throat, checked: @prev&.sym_sore_throat, id: :s4
                = f.label :sym_sore_throat, "sore throat", class: 'mb1', for: :s4

                = f.check_box :sym_runny_nose, checked: @prev&.sym_runny_nose, id: :s5
                = f.label :sym_runny_nose, "runny nose", class: 'mb1', for: :s5

                = f.check_box :sym_aches, checked: @prev&.sym_aches, id: :s6
                = f.label :sym_aches, "aches", class: 'mb1', for: :s6

                = f.check_box :sym_vomiting, checked: @prev&.sym_vomiting, id: :s7
                = f.label :sym_vomiting, "vomiting", class: 'mb1', for: :s7

                = f.check_box :sym_diarrhea, checked: @prev&.sym_diarrhea, id: :s8
                = f.label :sym_diarrhea, "diarrhea", class: 'mb1', for: :s8


          - if @household_count > 1
            = f.submit "Submit Temperature for Person #{@household_person}", class: "btn btn-primary btn-lg"
          - else
            = f.submit "Submit Temperature", class: "btn btn-primary btn-lg"
