<script src="https://www.google.com/recaptcha/api.js?render=6Lf0neIUAAAAANTyB0N5EgmfgnUxqQxzi-NBjaki"></script>

.container.clearfix

  %header.col.col-12.md-col-5

    #cta{class: @household_count > 1 ? 'sm-show' : ''}

      <h2 class='serif center' id='pledge'>
      %small.lite.muted= t(:pledge_to)
      <br>
      <strong style="color: orange;">#TakeYourTemp</strong>
      <br>
      %span.lite.muted= t(:every_day)
      </h2>
      <div class="center">
      <big>
      = t(:stop_the_spread_cta).html_safe
      </big></div>

      <hr class='mt3 mb3' style='width: 50%;'>
      <div class="line-squeeze mx-auto">

      <div class="center sm-hide">
      <a href="#" id='gs'><span class="h2">
      = t(:begin_data_entry)
      </span></a>
      <br>
      <br>
      </div>

      %p="<b>#{t(:how)}</b>".html_safe
      %p= t(:how_answer)

      %p="<b>#{t(:why)}</b>".html_safe
      %p= t(:why_answer)


      </div>

      - if browser.device.mobile?
        <br>
        <div class="center"><button id="share" class="btn btn-secondary">Share this!</button></div>

      <br>
      <hr style='width: 50%'>

  
    <br>
    <footer class='container'>
    <p class='mt0 small center'>
    <span class='muted'>Note: Open access to data is provided to health care officials.</span>
    <br>
    <a href="/contactings/new"><b>Contact us</b></a>
    for inquiries. Read our
    <a href="/privacy"><b>privacy policy</b></a>. Read our
    <a href="/faq"><b>FAQ</b></a>.
    </p>
    <br>
    </footer>

  %article#form.col.col-12.md-col-7.md-px3{class: @household_count > 1 ? '' : 'sm-show'}
    = render partial: 'form'

<br>

:javascript
  const share = document.getElementById('share');
  const gs = document.getElementById('gs');
  if(share) {
    share.addEventListener('click', function() {
      navigator.share({
        title: '#DailyTemperaturePledge',
        text: 'Join the most important crowd-sourcing operation in US history.',
        url: 'https://www.takeyourtemp.org'
      });
    });
  }
  if(gs) {
    gs.addEventListener('click', function(e) {
      document.getElementById('form').classList.toggle("sm-show");
      document.getElementById('cta').classList.toggle("sm-show");
      e.preventDefault();
    });
  }
