- page_title "Submission Complete"

<script src="https://www.google.com/recaptcha/api.js?render=6Lf0neIUAAAAANTyB0N5EgmfgnUxqQxzi-NBjaki"></script>

.container.clearfix

  %header.col.col-12.md-col-8{style: "border-right: 1px solid #eee; padding-right: 3rem;"}

    %h2.bold Thank you for adding to the dataset!

    .h1.bold.line-wide{style: "color: orange"}
      Please submit your temperature again tomorrow.

    %h3.line-wide
      If you want a reminder to take your temperature, please leave us your email address or a phone number where we can send you an SMS.

    .clearfix.line-wide

      .p3.bg-softer.border

        = form_with model: @reminder, remote: false do |f|
         
          .clearfix

            .mb2 <b>Note:</b> Contact information will <em>not</em> be associated with any medical data.
            
            %hr.mt2.mb2

            .col
              = f.label :email, class: 'mb1 bold'
              %br
              = f.email_field :email, placeholder: "your@email.com"

            .col.ml3
              %br
              .muted.mt2= "or"

            .col.ml3
              = f.label :phone, class: 'mb1 bold'
              %br
              = f.text_field :phone, placeholder: "(123) 123-1234"

          %br

          = f.submit "Yes, send me reminders", class: 'btn btn-primary'

  %article#form.col.col-12.md-col-4.md-px3
    
    %p For the latest information about COVID-19, visit:

    %h4.mb1 Center for Disease Control
    = link_to "https://www.cdc.gov/coronavirus/2019-ncov/index.html", "https://www.cdc.gov/coronavirus/2019-ncov/index.html"

    %h4.mb1 World Health Organization
    = link_to "https://www.who.int/emergencies/diseases/novel-coronavirus-2019", "https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
