- page_title "Submission Complete"

<script src="https://www.google.com/recaptcha/api.js?render=6Lf0neIUAAAAANTyB0N5EgmfgnUxqQxzi-NBjaki"></script>

.container.clearfix

  %header.col.col-12.md-col-8{style: "border-right: 1px solid #eee; padding-right: 3rem;"}

    %h2.bold= t(:thank_you_for_adding_to_the_dataset)

    .h1.bold.line-wide{style: "color: orange"}= t(:please_submit_tomorrow)

    %h3.line-wide= t(:want_a_reminder)

    .clearfix.line-wide

      .p3.bg-softer.border

        = form_with model: @reminder, remote: false do |f|
         
          .clearfix

            .mb2=t(:privacy_note).html_safe
            
            %hr.mt2.mb2

            .col
              = f.label :email, t(:email), class: 'mb1 bold'
              %br
              = f.email_field :email, placeholder: t(:email_placeholder)

            .col.ml3
              %br
              .muted.mt2= "or"

            .col.ml3
              = f.label :phone, t(:phone), class: 'mb1 bold'
              %br
              = f.text_field :phone, placeholder: "(123) 123-1234"

          %br

          = f.submit t(:yes_send_me_reminders), class: 'btn btn-primary'

  %article#form.col.col-12.md-col-4.md-px3
    
    %p= t(:for_the_latest_info)

    %h4.mb1= t(:cdc_long)
    = link_to "https://www.cdc.gov/coronavirus/2019-ncov/index.html", "https://www.cdc.gov/coronavirus/2019-ncov/index.html"

    %h4.mb1= t(:who_long)
    = link_to "https://www.who.int/emergencies/diseases/novel-coronavirus-2019", "https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
