- page_title "Data"
= stylesheet_link_tag 'isolate/internal'

%br
.line-tight

  %h4.m0
    = link_to "TakeYourTemp.org", root_path
  %h2.mt2.mb0.serif DATA

  %br

  .alert.alert-info
    To receive alerts when new data is available, please email
    <a href="mailto:data@takeyourtemp.org">data@takeyourtemp.org</a> with your request.

  %br/

%table.table.table-light.col-12.mxn2
  %thead
    %tr
      %th Time
      %th Download Link
      %th Records
      %th Format
  %tbody
    - @rows.each do |row|
      %tr
        %td.py1= row[0]
        %td.py1= link_to row[1], row[2]
        %td.py1= row[3]
        %td.py1= row[4]
